#allInputFieldsStyling{
    padding:10px;
    border:1px solid black;
}

#asterisks{
    color:red;
}

#infoIcon{
    background-color:white;
    border:1px solid white;
}

#topSection{
    font-size:30px;
    margin-bottom:25px;
}

#advisoryText{
    margin-bottom:30px;
}

#themeImage:hover{
    border:5px solid red;
     
}

 #button1 {
        width:100%;
        }

#dashboard-list-item:hover{
    cursor: pointer;
}

#addMoreExperience{
    background-color:white;
    border:1px solid white;
    font-size:15px;
    margin-bottom: 30px;
}

#removeExperience{
    margin-left:60%;
    background-color:white;
    border:1px solid white;
    color:red;
}



.capitalise {
   text-transform: capitalize;
}



#divider{
    border:1px solid black;
}

#step6title{
    margin-left: 40%;
    margin-bottom: 15px;
}

.portfolio-item {
    margin-bottom: 25px;
    border: 1px solid black; 
}

.portfolio-item-special {
    margin-bottom: 25px;
    border: 1px solid black; 
}

.portfolio-item-special:hover {
    background-color:lightgrey; 
}


.portfolio-item:hover {
    background-color:lightgrey; 
}



.sampleDetailitem {
    margin-bottom: 25px;
    border: 1px solid black;
}


#sample-item:hover {
    background-color:lightgrey; 
}



@media (min-width: 320px) {
    #button1 {
        margin-top:20px;
        margin-bottom:20px; 
        width:100%;
        }
    
    #mobileInfo{
        margin-bottom:20px;
        margin-left:20px;
    }
    
    .portfolio-item {
    margin-bottom: 15px;
        width:90%;
        margin-left: 5%;
    border: 1px solid black; 
}
    
       .portfolio-item-special {
    margin-bottom: 15px;
        width:90%;
        margin-left: 5%;
    border: 1px solid black; 
}

    .sampleDetailitem {
    margin-bottom: 10px;
    border: 1px solid black;
    width:90%;
    margin-left:5%;
}
    
       #step6title{
    margin-left: 5%;
    margin-bottom: 15px;
}
    
}


@media (min-width: 768px) {
    #button1 {
        width:60%;
        margin-left:20%;
        margin-top:20px;
        }
    
       .portfolio-item {
    margin-bottom: 25px;
    width:45%;
        margin-left: 3%;
    border: 1px solid black; 
}
    
    .portfolio-item-special {
    margin-bottom: 25px;
    width:60%;
        margin-left: 20%;
    border: 1px solid black; 
}
  

    .sampleDetailitem {
    margin-bottom: 10px;
    border: 1px solid black;
    width:31%;
    margin-left:1%;
    
}
    
#step6title{
    margin-left: 35%;
    margin-bottom: 15px;
}
    
    
}

@media (min-width: 992px) {
   
#button1 {
        width:30%;
        margin-left:35%;
        }
    

#step6title{
    margin-left: 40%;
    margin-bottom: 10px;
}
    
.sampleDetailitem {
    margin-bottom: 40px;
    border: 1px solid black;
    width:31%;
    margin-left:1%;
    
}
     
}

