#allInputFieldsStyling{
    padding:10px;
    border:1px solid black;
}

#asterisks{
    color:red;
}

#infoIcon{
    background-color:white;
    border:1px solid white;
}

#topSection{
    font-size:30px;
    margin-bottom:25px;
}

#advisoryText{
    margin-bottom:30px;
}

#themeImage:hover{
    border:5px solid red;
     
}

 #button1 {
        width:100%;
        }

#dashboard-list-item:hover{
    cursor: pointer;
}

#addMoreExperience{
    background-color:white;
    border:1px solid white;
    font-size:15px;
    margin-bottom: 30px;
}

#removeExperience{
    margin-left:60%;
    background-color:white;
    border:1px solid white;
    color:red;
}



.capitalise {
   text-transform: capitalize;
}



#divider{
    border:1px solid black;
}

#step6title{
    margin-left: 40%;
    margin-bottom: 15px;
}

.portfolio-item {
    margin-bottom: 25px;
    border: 1px solid black; 
}

.portfolio-item-special {
    margin-bottom: 25px;
    border: 1px solid black; 
}

.portfolio-item-special:hover {
    background-color:lightgrey; 
}


.portfolio-item:hover {
    background-color:lightgrey; 
}



.sampleDetailitem {
    margin-bottom: 25px;
    border: 1px solid black;
}


.navbar-custom {
    background-color:#74a8fc;;
    color:#ffffff;
    border-radius:0;
    border-color: #74a8fc;
    padding-bottom: 20px; 
    padding-top: 20px;
    padding-left: 20px;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-brand {
    color:#fff;
}

.navbar-secondary {
    background-color:white;;
    color:black;
    border-radius:0;
    border-color: black;
}


.navbar-inverse .navbar-nav>li>a {
    color: black;
}


.navbar-inverse .navbar-nav>li>a:hover{
    background-color: #74a8fc;
}


.navbar-inverse {
    background-color:white; 
    border-color:black;
    }





@media (min-width: 320px) {
    #button1 {
        margin-top:20px;
        margin-bottom:20px; 
        width:100%;
        }
    
    #mobileInfo{
        margin-bottom:20px;
        margin-left:20px;
    }
    
    .portfolio-item {
    margin-bottom: 15px;
        width:90%;
        margin-left: 5%;
    border: 1px solid black; 
}
    
       .portfolio-item-special {
    margin-bottom: 15px;
        width:90%;
        margin-left: 5%;
    border: 1px solid black; 
}

    .sampleDetailitem {
    margin-bottom: 10px;
    border: 1px solid black;
    width:90%;
    margin-left:5%;
}
    
       #step6title{
    margin-left: 5%;
    margin-bottom: 15px;
}
       
}






@media (min-width: 768px) {
    #button1 {
        width:60%;
        margin-left:20%;
        margin-top:20px;
        }
    
       .portfolio-item {
    margin-bottom: 25px;
    width:45%;
        margin-left: 3%;
    border: 1px solid black; 
}
    
    .portfolio-item-special {
    margin-bottom: 25px;
    width:60%;
        margin-left: 20%;
    border: 1px solid black; 
}
  

    .sampleDetailitem {
    margin-bottom: 10px;
    border: 1px solid black;
    width:31%;
    margin-left:1%;
    
}
    
#step6title{
    margin-left: 35%;
    margin-bottom: 15px;
}
    
.navbar-nav>li {
    margin-left: 15px;
}
    
  
}

@media (min-width: 992px) {
   
#button1 {
        width:30%;
        margin-left:35%;
        }
    

#step6title{
    margin-left: 40%;
    margin-bottom: 10px;
}
    
.sampleDetailitem {
    margin-bottom: 40px;
    border: 1px solid black;
    width:31%;
    margin-left:1%;
    
}
    #visible{
        border-right: 2px solid black;
        visibility: visible;
    }
    
   
.navbar-nav {
    margin-left: 5%;
}
    
.navbar-nav>li {
    margin-left: 40px;
}
    
     

    
  
     
}

   


