<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Dashboard</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list id="dashboard-null">
                <ion-item class="positive" id="dashboard-list-item1" ui-sref="dashboard.step1SelectATheme" menu-close="">Step 1: Theme</ion-item>
                <ion-item class="positive" id="dashboard-list-item2" ui-sref="dashboard.step2AddPersonalDetails" menu-close="">Step 2: Personal Details</ion-item>
                <ion-item class="positive" id="dashboard-list-item3" ui-sref="dashboard.step3Summary" menu-close="">Step 3: Summary</ion-item>
                <ion-item class="positive" id="dashboard-list-item4" ui-sref="dashboard.step4AdditionalInformationAboutYourself" menu-close="">Step 4: Additional Information</ion-item>
                <ion-item class="positive" id="dashboard-list-item5" ui-sref="dashboard.step5AddSampleWorkS" menu-close="">Step 5: Sample Work</ion-item>
                <ion-item class="positive" id="dashboard-list-item6" ui-sref="dashboard.step6AddAdditionalExperience" menu-close="">Step 6: Additional Experience</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>



 