
<ion-view>
<ion-content>
 
   
     
       
       <!--
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Landsome Online Portfolio </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="dashboard.signup"><span class="glyphicon glyphicon-user" ></span> Sign Up Here</a></li>
      <li><a ui-sref="dashboard.login"><span class="glyphicon glyphicon-log-in" ></span> Log into the Portfolio Portal</a></li>
    </ul>
  </div>
</nav> --> 
       
       
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Landsome Online Portfolio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
  
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

   <img src="http://placehold.it/500x300"  alt="" class="img-responsive center-block">
   <h3 class="text-center" style="font-weight:bold;">The Online Portfolio Generating Company That Will Actively Manage Your Academic Brand</h3>
   <p class="text-center">Join the top academics in your field by having a Portfolio site of your own </p>
   <div class="col-xs-offset-1">
   <button type = "button" ui-sref="signup" class="btn btn-danger borders" id="button1">Let's get started </button>
   </div>
       
<hr id ="divider"> 

       
   <h3 class="text-center" >Our Templates</h3>
   <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iste, pariatur fuga! Ad aliquam pariatur, reprehenderit</p>
       

	      <div class="col-xs-12 col-sm-3" ng-controller = "step1SelectAThemeCtrl" style = "margin-bottom:50px;" ng-repeat = "x in theme|orderBy:'themeNumber'">
             <label class = "radio-inline" > <h4 class="text-center">Theme {{x.themeNumber}}</h4>
                <a href="{{x.hyperlink}}"> <img src="{{x.image}}"  width = "400px"  height = "15px" id ="themeImage"  alt="" class="img-responsive center-block"> </a>
                </label>
           
	      </div>

  <hr id ="divider"> 
        
<div class="col-xs-12 text-center">
    <h2 class="" style="font-weight:bold; margin-top:10px;">Be Among Thousands of Top Academics by Having an Online Presence</h2>
    <p class="">
        You must of heard of the phrase, <strong>"It doesn‘t matter what you know, but who you know" </strong> or <br>
the saying <strong>“If a tree falls in a forest and no one is around to hear it. does It make a
        sound?"</strong></p>

<p>Landsome Online Portfolio will help you every step of the way by using modern online
marketing <br>strategies to create and improve your academic brand. The conventional method of
writing <br>academic journals and contributing to books is a great way to establish authority in your
field. <br>What good is it if no one will hear about your work or recognise you as an authority figure?</p>
<p>Landsome Online Portfolio is not your ordinary Portfolio and Resume/CV generator. We do not<br>
simply just create these incredible online portfolios and then just leave you to it. <br>We are much,
much more than that! With great backing from Landsome Consultancy. <br>we can help you create
a lot of online noise so that when the relevant <br>people and organisations are in need of your
    services, they will be drawn to you.</p>
<p>Landsome Online Portfolio will help you be known and heard! Sign up today for as little as 	<strong>&euro;5.99 </strong>
per month.


    </p>
    
</div>
       
       <hr id ="divider" style = "margin-top:30px;">
   
    
    <h2 class="text-center">Services We Will Provide</h2>
    <div class = "container-fluid">

     
      <div class="col-xs-12 col-sm-6  text-center" >
        <p><i class="material-icons" style="color:green; font-size:80px; ">search</i></p>
        <h3>Make Your Website Google Friendly</h3>
        <p>Employers and Clients alike are constantly in search for the best
person to get the job. Whether they use Google or other search
engines. make it easy for them to find you!</p>
    </div>
        
     
     <div class="col-xs-12 col-sm-6 text-center" >
        <p><i class="material-icons" style="color:gold; font-size:80px;">mode_edit</i></p>
        <h3>Help from Professional CV and Portfolio Editors</h3>
        <p>An in-depth, Objective Professional Consultation service
will help us understand your career aims, your past
achievement and the value you can bring so that we in
turn can create a bespoke Online Portfolio that pinpoints
your strengths.</p>
       </div>
     
       
    
      <div class="col-xs-12 col-sm-6 text-center" >
        <p><i class="material-icons" style="color:blue; font-size:80px;">security</i></p>
        <h3>Hosting and Domain name</h3>
        <p>We are utilising one of the industry‘s most secure cloud platform to
host your online portfolio. We will also thrown in free domain
name for your online portfolio.</p>
       </div>
      
   <div class="col-xs-12 col-sm-6 text-center" >
         <p><span class="glyphicon glyphicon-sunglasses" style="color:#6d5a07; font-size:80px;"></span></p>
        <h3>Analyse Your Visitors</h3>
        <p>Are people actually visiting Online Portfolio Site? If you have
subscribed to our servhe. of course they will. Check out the
weekly report we send you and see for yourself!</p>
       </div>
    
          <div class="col-xs-12 text-center" >
        <p><i class="material-icons" style="color:#377def; font-size:80px;">phone_in_talk</i><p>
        <h3>Dedicated Support</h3>
        <p>Many people that works in academics are define success
differently. That is why we have centred our services around
how you deﬁne success and the goals you would like to
edieve. Get in touch and
we will help you - no question asked.</p>
        </div>
     
   

    </div>
        
    

    <hr id = "divider"> 
      
      <h2 class="text-center">Testimonials</h2>
    
    <div class = "container">
       <div class="col-sm-4 text-center" style = "margin-bottom: 20px;">
           <img src="http://placehold.it/250x100" alt="" class="img-responsive center-block" style=" margin-top:5px;">
           <h4>Yonis Mohamed</h4>
            <p><a href = "#" >https://www.linkedin.com/in/yonis-mohamoud</a></p> 
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit culpa eum rerum perferendis temporibus itaque, officia commodi laborum dolorum quibusdam ipsa quisquam, dolore odio quo, voluptatibus aut, inventore architecto in.</p>
            <p><span class = "pull-left">Rating</span><span ng-repeat = "x in [0,1,2,3,4]"><i class="material-icons col-xs-1" style ="color:gold;">star_rate</i> </span></p>
       </div>
      
       <div class="col-sm-4 text-center" style = "margin-bottom: 20px;">
           <img src="http://placehold.it/250x100" alt="" class="img-responsive center-block" style=" margin-top:5px;">
           <h4>Yonis Mohamed</h4>
           <p><a href = "#" >https://www.linkedin.com/in/yonis-mohamoud</a></p> 
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit culpa eum rerum perferendis temporibus itaque, officia commodi laborum dolorum quibusdam ipsa quisquam, dolore odio quo, voluptatibus aut, inventore architecto in.</p>
         <p><span class = "pull-left">Rating</span><span ng-repeat = "x in [0,1,2,3,4]"><i class="material-icons col-xs-1" style ="color:gold;">star_rate</i> </span></p>
       </div>
     
       <div class="col-sm-4 text-center" style = "margin-bottom: 20px;border-bottom:">
           <img src="http://placehold.it/250x100" alt="" class="img-responsive center-block" style=" margin-top:5px;">
           <h4>Yonis Mohamed</h4>
            <p><a href = "#" >https://www.linkedin.com/in/yonis-mohamoud</a></p> 
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit culpa eum rerum perferendis temporibus itaque, officia commodi laborum dolorum quibusdam ipsa quisquam, dolore odio quo, voluptatibus aut, inventore architecto in.</p>
            <p><span class = "pull-left">Rating</span><span ng-repeat = "x in [0,1,2,3,4]"><i class="material-icons col-xs-1" style ="color:gold;">star_rate</i> </span></p>
       </div>
        </div>

      <hr id = "divider">
    
    
       
       <form  name="feedback" class="form-horizontal clearfix" >
          <h3 class="text-center" style="margin-top:10px;"> Have A Question For Us</h3>
           <p class="text-center">Are you interest in what we have to offer but are to sure if we offer the right product for you?<br> Leave your details with us and we will gladly arrange a suitable time to have a quick chat with you via email or over the phone.</p>
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" >Full Name</label>
                <div class="col-sm-4">
                <input type="text"   class="form-control" name="fullname" ng-model="feedbackform.fullname" id="allInputFieldsStyling" required>
                <p ng-show="feedback.fullname.$error.required && feedback.fullname.$dirty " style="color:maroon "> Please Enter your full name </p>
                </div>
           </div>
            <div class="form-group">
               <label class="control-label col-sm-4 input-md" >Email Address</label>
                <div class="col-sm-4">
                <input type="email"   class="form-control" name="email" ng-model="feedbackform.email" id="allInputFieldsStyling" required>
                 <p ng-show="feedback.email.$error.required && !feedback.email.$pristine " style="color:maroon "> Please Enter your Email address </p>
                   <p ng-show="feedback.email.$invalid && feedback.email.$dirty " style="color:maroon "> Please Enter a valid Email address </p>
                </div>
           </div>
         <div class="form-group">
            
               <label class="control-label col-sm-4 input-md" >Subject Line</label>
                 <div class="col-sm-4">
                <input type="text"  class="form-control" name="subject" ng-model="feedbackform.subject" id="allInputFieldsStyling" required>
                 <p ng-show="feedback.subject.$error.required && feedback.subject.$dirty " style="color:maroon "> Please Type In a Subject Line </p>
                </div>
           
           </div>
            <div class="form-group">
               <label class="control-label col-sm-4 input-md" >Message</label>
                 <div class="col-sm-4">
                <textarea class="form-control" rows="6"   name="msg"  ng-model="feedbackform.msg" style="padding:10px;border:1px solid black;" required></textarea>
                <p ng-show="feedback.msg.$error.required && feedback.msg.$dirty " style="color:maroon "> Please Type In Your Message </p>
                
                </div>
           
           </div>
           
         <div class="form-group">
         <div class="col-sm-4"></div>
	   <div class="col-sm-4">
           <button type = "submit"  ng-disabled="feedback.$invalid" class="btn btn-danger btn-block borders"> Submit </button>
	   </div>
	   </div>
  
       </form>
       </div>
     
        <div class="col-xs-12 text-center " style="background-color:#b4b6ba; margin-top: 10px;  margin-bottom:5px; ">
       <p><strong>&#169;</strong> 2016 Landsome Online Portfolio </p>
       <a href="https://www.facebook.com/landsomePortfolio" class="btn-social btn-outline" style = "color:blue; font-size:20px;" ><i class="fa fa-fw fa-facebook"></i></a> &emsp;&emsp;
       <a href="#" class="btn-social btn-outline" style = "color:purple;font-size:20px;"  ><i class="fa fa-fw fa-linkedin"></i></a> &emsp;&emsp;
       <a href="#" class="btn-social btn-outline" style = "color:blue;font-size:20px;" ><i class="fa fa-fw fa-twitter "></i></a> 
       </div>
       
    
 </ion-content>
</ion-view>