
<ion-view>
<ion-content>
   <div class="container">
       
  <p> Landsome Online Portfolio Home Page</p>
       <p><i class="material-icons" style ="color:gold;">mode_edit</i></p>
       <p><i class="material-icons">search</i></p>
       <p><i class="material-icons">phone_in_talk</i></p>
       <p><span class="glyphicon glyphicon-sunglasses"></span></p>
       <p><i class="material-icons">laptop</i></p>
       <p><i class="material-icons">security</i></p>
       <i class="material-icons" style ="color:gold;">star_rate</i>
       <p><i class="icon-facebook"></i></p>
       <p><strong>&#169;</strong> 2016 Landsome Online Portfolio </p>
       <p><a href="#" class="btn-social btn-outline" style = "color:blue;"><i class="fa fa-fw fa-facebook"></i></a> </p>
       <p><a href="#" class="btn-social btn-outline" style = "color:purple;"  ><i class="fa fa-fw fa-linkedin"></i></a> </p>
       <p><a href="#" class="btn-social btn-outline" style = "color:blue;"><i class="fa fa-fw fa-twitter"></i></a> </p>
       
       
       
    
	</div>
    
 </ion-content>
</ion-view>