<ion-view title="Log in" id="page 7" style="background-color:default;">
    <ion-content padding="true" class="has-header">
   <div class="container">
        
         <form  class="form-horizontal">
          <h3 class="text-center"> Welcome to Landsome portfolio</h3>
            <div class="form-group">
               <label class="control-label col-sm-4 input-md" >Email</label>
                <div class="col-sm-4">
                <input type="email" class="form-control" id="allInputFieldsStyling" required>
                </div>
           </div>
         <div class="form-group">
            
               <label class="control-label col-sm-4 input-md" >Password</label>
                 <div class="col-sm-4">
                <input type="password" class="form-control" id="allInputFieldsStyling" required>
                </div>
           
           </div>
           
         <div class="form-group">
         <div class="col-sm-4"></div>
	   <div class="col-sm-4">
           <button type = "submit" class="btn btn-success btn-block borders"> Log in </button>
	   </div>
	   </div>
	   <p class="text-center"><a href="#">Or create an account</a>
               </p>
  
       </form>
          
	</div>
    
	
        
    

 </ion-content>
</ion-view>