<ion-view title="Sign up" id="page 8" style="background-color:default;">
    <ion-content padding="true" class="has-header">
   <div class="container">
        
         <form  class="form-horizontal">
          <h3 class="text-center"> Welcome to Landsome portfolio</h3>
           <p class="text-center">Once you have filled out the short form below, you can go onto creating an INCREDIBLE portfolio!
               </p>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                <input type="email" class="form-control" id="allInputFieldsStyling" ng-model = "signup.email" placeholder="Email Address" required>
                </div>
           </div>
         <div class="form-group">
            
                <div class="col-sm-4"></div>
                 <div class="col-sm-4">
                <input type="password" class="form-control" id="allInputFieldsStyling" ng-model = "signup.password" placeholder="Password" required>
                </div>
           
           </div>
           <div class="form-group">
            
                <div class="col-sm-4"></div>
                 <div class="col-sm-4">
                <input type="password" class="form-control" placeholder="Confirm password" id="allInputFieldsStyling" required>
                </div>
           
           </div>
           
         <div class="form-group">
         <div class="col-sm-4"></div>
	   <div class="col-sm-4">
           <button type = "submit" class="btn btn-danger btn-block borders" ng-click = "register()"> Sign Up </button>
	   </div>
	   </div>
	   <p class="text-center"><a ui-sref="dashboard.login">Or Log into the Portal</a></p>
  
       </form>
          
	</div>
    
	
 </ion-content>
</ion-view>
        
