<ion-view title="Step 4: Additional Info About You" id="page4">
    <ion-content padding="true" class="has-header">
        
        <div class="container">
            
     <p style = "font-size:30px;margin-bottom:25px;"><button type = "button" style = "background-color:white;border:1px solid white;"><span class="glyphicon glyphicon-info-sign pull-left" onclick=""></span></button><span class="pull-right" style = "font-size:14px;">Step 4 of 6</span></p>
       
       <form class="form-horizontal" >
       
       <div class="col-sm-12 text-center" style ="margin-bottom:20px;">
             <input type="checkbox" value=""> Tick to include this section in your Portfolio
        </div>

            <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="heading">Field of research</label>
                <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Field of research" style="padding:10px;border:1px solid black;">
                </div>
           </div>
            <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="summary">Summary Section</label>
                <div class="col-sm-5">
                <textarea class="form-control" rows="6" id="summary" placeholder="Amanda has keen interest Econometrics and developmental economics with particular emphasis on policy decisions made in Malaysia"  style="padding:10px;border:1px solid black;"></textarea>
                </div>
           </div>
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="resume">Include an image</label>
                <div class="col-sm-4">
                 <input type="file" class="btn btn-default btn-file">
                </div>
           </div>
          <div class = "form-group">
	   <div class="col-xs-12">
	         <button type = "submit" class="btn btn-danger btn-block borders" id="button1">Save</button>
	   </div>
	   </div>
        </form>
       
        </div> 
    </ion-content>
</ion-view>