<ion-view title="Step 3: Summary" id="page3">
    <ion-content padding="true" class="has-header">
    <div class="container">
       <p style = "font-size:30px;margin-bottom:25px;"><button type = "button" style = "background-color:white;border:1px solid white;"><span class="glyphicon glyphicon-info-sign pull-left" onclick=""></span></button><span class="pull-right" style = "font-size:14px;">Step 3 of 6</span></p>
       <form class="form-horizontal" >
       <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="rename">Rename Summary Heading?</label>
                <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Summary" style="padding:10px;border:1px solid black;">
                </div>
           </div>
            <div class="form-group"  >
               <label class="control-label col-sm-4" for="summary">Summary Section</label>
                <div class="col-sm-5">
                <textarea class="form-control" rows="11"  id="summary" style="padding:10px;border:1px solid black;" placeholder="Amanda is originally from Malaysia where she graduated with a firs-class degree in Economics from the University of Hogwartz. She Obtained a distinction in a MSC development Economics from the University of Horowitz in 2013, and began her PhD in Econometrics the following year. Samantha doctoral project is supervised by professor Nunzio Sitorious, and her research is currently self-funded"></textarea>
                </div>
           </div>
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="resume">Include an image of you</label>
                <div class="col-sm-4">
                 <input type="file" class="btn btn-default btn-file">
                </div>
                </div>
          <div class="col-sm-12 text-center">
             <input type="checkbox" checked> Your CV will be included in Summary section.
UNTICK if you DO NOT want your CV attached
            </div>
           
      <div class = "form-group">
	   <div class="col-xs-12">
	         <button type = "submit" class="btn btn-danger btn-block borders" id="button1">Save</button>
	   </div>
	   </div>
        </form>
    </div>
    </ion-content>
</ion-view>