<ion-view title="Step 5: Add Sample Work(s)" id="page5">
    <ion-content padding="true" class="has-header">
  <div class="container">
        <p style = "font-size:30px;margin-bottom:25px;"><button type = "button" style = "background-color:white;border:1px solid white;"><span class="glyphicon glyphicon-info-sign pull-left" onclick=""></span></button><span class="pull-right" style = "font-size:14px;">Step 5 of 6</span></p>
             
             <form class="form-horizontal" >
             <div class="form-group"  >
               <label class="control-label col-sm-5 input-md" for="sample">How many sample work do you want to include?</label>
                <div class="col-sm-5">
                  <select class="form-control" style="padding:10px; border:1px solid black;" >
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
                </div>
           </div>

           <p class="text-center" style="font-weight:bold;">Sample work 1</p>
            
            <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="heading">Heading</label>
                <div class="col-sm-5">
                <input type="text" class="form-control"  style="padding:10px; border:1px solid black;" placeholder="MSC Eonomics Essay">
                </div>
           </div>
            <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="title">Title of work</label>
                <div class="col-sm-5">
                <input type="text" class="form-control"  style="padding:10px; border:1px solid black;" placeholder="Economic growth and air pollution in China">
                </div>
           </div>
            <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="authors">Author(s)/Artist/Singer</label>
                <div class="col-sm-5">
                <input type="text" class="form-control"  style="padding:10px; border:1px solid black;" placeholder="Amanda legum">
                </div>
           </div>
            <br>
             <p class="text-center" style="font-weight:bold; color:red;">For multiple collaborators, separate with commas i.e. Amanda Legum, Jason Bourne</p>
             <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="pub">Date of publication:</label>
                <div class="col-sm-5">
               <input type="date" class="form-control"  style="padding:10px; border:1px solid black;">
                </div>
           </div>
            <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="name_of_pub">Name of Publication:<br>Only required for published<br> academic papers</label>
                <div class="col-sm-5">
               <input type="text" class="form-control"  style="padding:10px; border:1px solid black;">
                </div>
           </div>
           <div class="form-group"  >
               <label class="control-label col-sm-4" for="description">Description of sample work</label>
                <div class="col-sm-5">
                <textarea class="form-control" rows="11"  id="summary" style="padding:10px;border:1px solid black;" placeholder="with the economic development of china, air pollutants are also growing rapidly in recent decades, especially
in big cities of the country. To understand the relationship between economic condition and air pollutants 
in big cities, we analysed the socioeconomic indicators such as Gross regional product per capita(GRP per capita), the concentration of air pollutants and the air pollution index(API) from 2003 to 2012 in 31 provincial capitals of mainland china."></textarea>
                </div>
           </div>
            <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="attach">Attach your sample work</label>
                <div class="col-sm-4">
                 <input type="file" class="btn btn-default btn-file">
                </div>
           </div>
            <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="URL">Add URL links of your work</label>
                <div class="col-sm-5">
                <input type="text" class="form-control"  style="padding:10px; border:1px solid black;">
                </div>
           </div>
            <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="attach">Include an Image for this section</label>
                <div class="col-sm-4">
                 <input type="file" class="btn btn-default btn-file">
                </div>
           </div>
            <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="name_button">Name of button </label>
                <div class="col-sm-5">
                <input type="text" class="form-control"  style="padding:10px; border:1px solid black;" placeholder="Download the paper">
                </div>
           </div>
             <div class = "row" style = "margin-top:40px;margin-bottom:40px;">
       <div class="col-xs-6">
	       <button type="button" class="btn btn-default btn-block borders" >Cancel</button>
	   </div>
	   <div class="col-xs-6">
	         <button type = "button" class="btn btn-danger btn-block borders" >Save</button>
	   </div>
	   </div>
            </form>

        </div>

    </ion-content>
</ion-view>