<script>

ga('set', 'page', '/about');
ga('send', 'pageview');

</script>


<div class="container">
      <h1 class="text-center">What We Do</h1>
      
   
    
    
    <div class="row">
<h2 style="text-indent:2em;">Aims and Objectives</h2>
<div class="col-sm-4">
<img src="images/images12.jpeg" width = "360px" height = "150px" style="margin-right:5px;" class="img-responsive pull-left"  alt=""></div>
<div class="col-sm-7 ">
<p style="text-align:justify; ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero reiciendis molestias ipsum ab quisquam nulla nihil optio dolore, ad repellat, assumenda quis nisi? Ab dolorem repudiandae ducimus, iusto explicabo, recusandae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi alias doloribus necessitatibus veniam cumque ab, provident excepturi quibusdam laborum qui, libero temporibus nulla ea iusto, quod incidunt autem distinctio neque!<a href="#"> Read More</a></p>
</div>
</div>
    
    <div class="row">
<h2 style="text-indent:2em;">Get Involved</h2>
<div class="col-sm-4">
<img src="images/images11.jpeg" width = "360px" height = "150px" style="margin-right:5px;" class="img-responsive pull-left"  alt=""></div>
<div class="col-sm-7 ">
<p style="text-align:justify; ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero reiciendis molestias ipsum ab quisquam nulla nihil optio dolore, ad repellat, assumenda quis nisi? Ab dolorem repudiandae ducimus, iusto explicabo, recusandae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi alias doloribus necessitatibus veniam cumque ab, provident excepturi quibusdam laborum qui, libero temporibus nulla ea iusto, quod incidunt autem distinctio neque!<a ui-sref="vacanciesPartnership"> See Vacancies and Partnerships</a></p>
</div>
</div>
    
    
    
        <div class="row">
<h2 style="text-indent:2em;">Status as a Charity</h2>
<div class="col-sm-4">
<img src="images/images10.jpeg" width = "360px" height = "150px" style="margin-right:5px;" class="img-responsive pull-left"  alt=""></div>
<div class="col-sm-7 ">
<p style="text-align:justify; ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero reiciendis molestias ipsum ab quisquam nulla nihil optio dolore, ad repellat, assumenda quis nisi? Ab dolorem repudiandae ducimus, iusto explicabo, recusandae?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi alias doloribus necessitatibus veniam cumque ab, provident excepturi quibusdam laborum qui, libero temporibus nulla ea iusto, quod incidunt autem distinctio neque!<a ui-sref="donate" style = "color:red;"> Donate Now</a></p>
</div>
</div>
    
    

</div>