<div class="container">
      <h1 class="text-center">About Us</h1>
      <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo perspiciatis culpa similique quis laboriosam placeat officia, sequi soluta dolorum, deleniti expedita possimus doloremque molestias deserunt nostrum consequatur! Ullam nesciunt, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, incidunt! Accusantium nulla, fuga dolor cumque eos adipisci repellendus dolore reiciendis ipsum animi laudantium laborum ab fugiat vel perferendis inventore voluptatem?</p>
      
      <div class="col-md-12">
        <h2>Aims and Objectives</h2>
         <img src="http://placehold.it/200x150" class="img-responsive pull-left" style="margin-right:5px;" alt="">
         <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi iste itaque labore! Unde consectetur, omnis laborum at illum qui ipsam obcaecati tempora, tenetur consequuntur expedita veritatis quia molestias. Error, velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis modi dolorum ab nemo consequatur sit fuga recusandae sequi? Fuga labore odio consequuntur ducimus tempore possimus voluptatem eaque architecto facilis, cumque.</p>
      </div>
      <div class="col-md-12">
        <h2>Get Involved</h2>
         <img src="http://placehold.it/200x150" class="img-responsive pull-left" style="margin-right:5px;" alt="">
         <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi iste itaque labore! Unde consectetur, omnis laborum at illum qui ipsam obcaecati tempora, tenetur consequuntur expedita veritatis quia molestias. Error, velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis modi dolorum ab nemo consequatur sit fuga recusandae sequi? Fuga labore odio consequuntur ducimus tempore possimus voluptatem eaque architecto facilis, cumque. <a ui-sref = "vacanciesPartnership">See Vacancies and Partnership</a></p>
      </div>
      <div class="col-md-12">
        <h2>Status as a charity</h2>
         <img src="http://placehold.it/200x150" class="img-responsive pull-left" style="margin-right:5px;" alt="">
         <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi iste itaque labore! Unde consectetur, omnis laborum at illum qui ipsam obcaecati tempora, tenetur consequuntur expedita veritatis quia molestias. Error, velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis modi dolorum ab nemo consequatur sit fuga recusandae sequi? Fuga labore odio consequuntur ducimus tempore possimus voluptatem eaque architecto facilis, cumque. <a ui-sref = "donate" style="color:red">Donate Now</a></p>
      </div>
</div>