<section>
    
         <div class="container">
            
             
             <div class = "row">
             <a ui-sref = "dashboard" class = "btn btn-link pull-left"><span class ="glyphicon glyphicon-chevron-left"></span>Go to Dashboard </a>
             </div>
             
             
             <div class = "row">
             <div class = "col-md-6">
              <div class="panel panel-primary">
    <div class="panel-heading text-center"><h2>Basic Package</h2></div>
                <div class="panel-body">
                     <p class="text-center" ><span style="font-size: 35px; font-weight:bold;">£5.99</span> per month </p>
   <p class="text-center" style="color:red; font-weight:bold;">With a one-off, set up fee of £50</p>
   <hr style="border:1px solid black;">
   <h3 class="text-center" style="font-weight:bold;">What's included:</h3>
   <p style="font-size:20px; margin-left:15px;"><a href=""><u>Hosting</u></a></p>
   <p style="font-size:20px; margin-left:15px;"><a href=""> <u>Basic Cv and Portfolio Editing</u></a></p>
       <p style="font-size:20px; margin-left:15px;"><a href=""><u>Domain Name</u></a></p>
       <p class="text-center"><a href="https://Landsome-test.chargebee.com/hosted_pages/plans/basic-package"  class="btn btn-danger btn-md   borders " style="width:110px;"> Buy </a></p>
                  
    
                  </div>
  </div>
</div>
             
    
                      <div class = "col-md-6">
              <div class="panel panel-primary">
    <div class="panel-heading text-center"><h2>Advanced Package</h2></div>
                <div class="panel-body">
                    <p class="text-center" ><span style="font-size: 35px; font-weight:bold;">£11.99</span> per month </p>
   <p class="text-center" style="color:red; font-weight:bold;">With a one-off, set up fee of £98</p>
   <hr style="border:1px solid black;">
   <h3 class="text-center" style="font-weight:bold;">What's included:</h3>
   <p style="font-size:20px; margin-left:15px;"><a href=""><u>Hosting</u></a></p>
   <p style="font-size:20px; margin-left:15px;"><a href=""> <u>Basic Cv and Portfolio Editing</u></a></p>
 <p style="font-size:20px; margin-left:15px;"><a href=""> <u>Website Analytics</u></a></p>
     <p style="font-size:20px; margin-left:15px;"><a href=""> <u>Search Engine Optimization</u></a></p>
      
       <p style="font-size:20px; margin-left:15px;"><a href=""><u>Domain Name</u></a></p>
       <p class="text-center"><a href="https://Landsome-test.chargebee.com/hosted_pages/plans/advanced-package " class="btn btn-danger btn-md  borders " style="width:110px;"> Buy </a></p>
                  </div>
  </div>
                 </div>
             </div>
             
    
    </div>
</section>