<!-- Page Content -->
    <div class="container">

      
      <div class = "row" > 
            <div class="col-sm-12 text-center">
                <h1 ng-controller = "userCtrl" class = "capitalise">{{customerDetails.firstName}} {{customerDetails.lastName}} Dashboard<br></h1>
                    <span style = "color:red;"> Please complete steps 1, 2, and 4 to generate and view your Portfolio Site </span>
                   <p ng-if ="!sectionhasbeensaved.themes && !sectionhasbeensaved.summary && !sectionhasbeensaved.samplework1" ><a href = "#/theme1"  class = "btn btn-success btn-lg"  style = "margin-top: 20px;" target = "_blank" ng-show= "true"> View My Selected Theme </a></p> <br>
            </div>
          </div>
    
        <div class = "row">
        <!--Theme Tile  --> 
        <div class="card card-block col-xs-12 col-sm-5 portfolio-item text-center"  >
             <a ui-sref="step1SelectATheme" style = "color:black;"><h4 class="card-title">Step 1: Themes </h4>
            <p class="card-text"><span class="glyphicon glyphicon-pencil" style = "font-size:xx-large;" ></span></p>
            <p ng-show = "sectionhasbeensaved.themes" style = "color:red;"> <span class="glyphicon glyphicon-warning-sign"></span> Section is NOT Complete! </p>
            <p ng-show = "!sectionhasbeensaved.themes" style = "color:green;"><span class="glyphicon glyphicon-check"></span> Section has been completed!  </p> 
          </a>
         </div>
      
        <!-- Summary Tile -->
        <div class="card card-block col-xs-12 col-sm-5 portfolio-item text-center"  >
             <a ng-click= "showSummaryModal()" href style = "color:black;"><h4 class="card-title">Step 2: Summary </h4>
            <p class="card-text"><span class="glyphicon glyphicon-eye-open" style = "font-size:xx-large;" ></span></p>
            <p ng-show = "sectionhasbeensaved.summary" style = "color:red;"> <span class="glyphicon glyphicon-warning-sign"></span> Section is NOT Complete! </p>
            <p ng-show = "!sectionhasbeensaved.summary" style = "color:green;"><span class="glyphicon glyphicon-check"></span> Section has been completed!  </p> 
           </a>
         </div>
        </div>
        
        <div class = "row">
        <!-- Field of Research Tile -->
        <div class="card card-block col-xs-12 col-sm-5 portfolio-item text-center"  >
             <a ng-click = "showFieldresearchModal()" href style = "color:black;"><h4 class="card-title">Step 3: Field of Research </h4>
            <p class="card-text"><span class="glyphicon glyphicon-info-sign" style = "font-size:xx-large;" ></span></p>
            <p ng-show = "sectionhasbeensaved.fieldOfResearch" style = "color:red;"> <span class="glyphicon glyphicon-warning-sign"></span> Section is NOT Complete! </p>
            <p ng-show = "!sectionhasbeensaved.fieldOfResearch" style = "color:green;"><span class="glyphicon glyphicon-check"></span> Section has been completed!  </p>  
           </a>
         </div>
     
        
        <!-- Sample Work Tile -->
         <div class="card card-block col-xs-12 col-sm-5 portfolio-item text-center" >
             <a ui-sref="sampleformComplete" style = "color:black;"><h4 class="card-title">Step 4: Sample Work </h4>
            <p class="card-text"><span class="glyphicon glyphicon-file" style = "font-size:xx-large;" ></span></p>
            <p  style = "color:red;" ng-show = "sectionhasbeensaved.samplework1" > <span class="glyphicon glyphicon-warning-sign"></span> Section is NOT Complete! </p>   
            <p  style = "color:green;" ng-show = "!sectionhasbeensaved.samplework1" ><span class="glyphicon glyphicon-check"></span> Section has been completed!  </p>   
           </a>
        </div>
        
        </div>
        

        <div class = "row">
        <!-- Additional Experience Tile -- (Display only when the section is not completed)  -->
            <div class="card card-block col-xs-12 col-sm-5 portfolio-item text-center" ng-show = "sectionhasbeensaved.additionalExperience" >
                <a ui-sref="step6AddAdditionalExperience" style = "color:black;"><h4 class="card-title">Step 5: Additional Experience i.e. Teaching </h4>
                <p class="card-text"><span class="glyphicon glyphicon-folder-open" style = "font-size:xx-large;" ></span></p>
                <p style = "color:red;"> <span class="glyphicon glyphicon-warning-sign"></span> Section is NOT Complete!</p>
                </a>
            </div>
            
          <!-- Additional Experience Tile -- (Display only when the section is completed)  -->
            <div class="card card-block col-xs-12 col-sm-5 portfolio-item text-center" ng-show = "!sectionhasbeensaved.additionalExperience">
                <a ui-sref="step6AddAdditionalExperience" style = "color:black;"><h4 class="card-title">Step 5: Additional Experience i.e. Teaching </h4>
                <p class="card-text"><span class="glyphicon glyphicon-folder-open" style = "font-size:xx-large;" ></span></p>
                <p  style = "color:green;"><span class="glyphicon glyphicon-check"></span> Section has been completed!  </p>  
                </a>
            </div>
            
        <!-- Academic Tile  -->
        <div class="card card-block col-xs-12 col-sm-5 portfolio-item text-center"  >
             <a ui-sref="link" style = "color:black;"><h4 class="card-title">Step 6: Academic/Non-Academic Goals </h4>
            <p class="card-text"><span class="glyphicon glyphicon-user" style = "font-size:xx-large;" ></span></p>
            <p ng-show = "sectionhasbeensaved.goals" style = "color:red;"> <span class="glyphicon glyphicon-warning-sign"></span> Section is NOT Complete! </p>
            <p ng-show = "!sectionhasbeensaved.goals" style = "color:green;"><span class="glyphicon glyphicon-check"></span> Section has been completed!  </p> 
           </a>
         </div>
        </div>
        
        

        <div class = "row">
            <a ui-sref = "checkout" class = "btn btn-danger btn-lg" id = "button1"> <span class="glyphicon glyphicon-shopping-cart"></span> Checkout </a>
       </div>

    



    