<div class = "container-width text-center" >

<hr id="divider">

<div class="col-sm-3" style="font-size:15px; margin-bottom:6px; ">
   <u>Quick Links</u><br>
    <a ui-sref = "about" >What We Do</a><br>
    <a ui-sref = "vacanciesPartnership">Vacancies and Partnership</a><br>
    <a href="#">Upcoming Events</a><br>
    <a ui-sref = "donate" style="color:red;">Donate</a>
    
</div>
    
<div class="col-sm-5" >
    <p><u>Connect With Us</u></p>
    <div class = "col-xs-12">
    <a href = ""><i class="fa fa-facebook-square socialNetwork" style = "font-size:25px;" aria-hidden="true"></i></a>
    <a href = ""><i class="fa fa-instagram socialNetwork" style = "font-size:25px;" aria-hidden="true"></i></a>
    <a href = ""><i class="fa fa-linkedin-square socialNetwork" style = "font-size:25px;" aria-hidden="true"></i></a>
    <a href = ""><i class="fa fa-twitter-square socialNetwork" style = "font-size:25px;" aria-hidden="true"></i></a>
    <a href = ""><i class="fa fa-snapchat-square socialNetwork" style = "font-size:25px;" aria-hidden="true"></i></a>
    <a href = ""><i class="fa fa-youtube socialNetwork" style = "font-size:25px;" aria-hidden="true"></i></a>
    <a href = ""><i class="fa fa-meetup socialNetwork" style = "font-size:25px;" aria-hidden="true"></i></a>
    <!--<a href = "" ng-show = "false"><i class="fa fa-envelope socialNetwork" style = "font-size:30px;" aria-hidden="true"></i></a>
    <a href = "" ng-show = "false"><span class="glyphicon socialNetwork" style = "font-size:30px;">&#xe183;</span></a>-->
    </div>
</div>
<div class="col-sm-4" >
    <p><u>Our Centers</u><br>
    <a href="#" >Milton Keynes, United Kingdom</a></p>
</div>
<div class="col-sm-12" style="background:#74a8fc; color:white; padding:5px;">
   <p class="text-center" style="font-size:15px;">&copy; 2017 Somali Global Community Association</p>
    
</div>

</div>