<div class="modal fade">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header"> 
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" >Log In</h4>
                </div>
        
        <div class="modal-body">
       
        <div class = "row">
            <div class="alert alert-danger col-xs-12 col-sm-8 col-sm-offset-2" ng-if = "loginerror">
            <strong>Sorry, we don't recognise those details. Please check and try again. Alternatively:<br>
                (1.) If you have forgotten your Log In Details click <a ui-sref = "#">here</a>.<br>
                (2.) To sign up, click <a ng-click = "toSignup()" href>here</a>.</strong>
            </div>
       </div>

       <div class = "row">
         <form  class="form-horizontal" ng-submit = "loginUser()" novalidate>
            <div class="form-group">
               <label class="control-label col-sm-4 input-md" style = "font-size:larger;">Email</label>
                <div class="col-sm-5 col-md-4">
                <input type="email" ng-model = "login.email"  class="form-control" id="allInputFieldsStyling" required autofocus>
                </div>
           </div>
         <div class="form-group">
               <label class="control-label col-sm-4 input-md" style = "font-size:larger;" >Password</label>
                 <div class="col-sm-5 col-md-4">
                <input type="password" ng-model = "login.password" class="form-control" id="allInputFieldsStyling" required autofocus>
                </div>
             
           </div>
           
         <div class="form-group">
         <div class="col-sm-4"></div>
	   <div class="col-sm-5 col-md-4">
           <button type = "submit"  class="btn btn-success btn-block borders" > {{loginButton}} </button>
	   </div>
	   </div>
	  <p class="text-center"><a ng-click = "toSignup()" href>Or create an account</a></p>
  
       </form>
     </div>
                </div>
              </div>
    </div>
</div>
       