<ion-view title="User Dashboard" id="page 10" style="background-color:default;">
    <ion-content padding="true" class="has-header">
   <div class="container">
       
       
  <h2 class="text-center"><u>Personal Details</u></h2>
     <div class ="row row-content">
<div class = "col-xs-12 col-sm-10 col-sm-offset-2">
<img src="http://placehold.it/200x200" alt="" class=" img-responsive center-block pull-left" style="margin-right:25px;">
    
        
        <div><p>First Name: <strong class = "capitalise"> {{customerDetails.firstName}}</strong></p>
          <p>Last Name: <strong class = "capitalise">{{customerDetails.lastName}}</strong></p>
          <p ng-controller = "userCtrl">Email Address: <strong>{{currentUser.email}}</strong></p>
          <p>LinkedIn link: <a href="{{customerDetails.linkedin}}" target = "_blank"><strong>{{customerDetails.linkedin}}</strong></a></p>
        </div>
         <button type="button"  class = "btn btn-danger btn-block borders" ui-sref="step2AddPersonalDetails"      id="button1">Edit Personal Details </button>  
</div>
       
       </div>
      <hr style="border-top:1px solid black;">
         <h2 class="text-center"><u>Manage My Subscription</u></h2>
         <div class = "text-center" style = "color:red;">Paying Customers can create a separate account on Landsome's Chargebee Portal to perform the following actions:</div>
            
                <li class = "text-center" style = "color:red;">Cancel Membership</li>
                <li class = "text-center" style = "color:red;">Upgrade Membership</li>
                <li class = "text-center" style = "color:red;">Change Payment Details</li>
       <p class = "text-center" style = "margin-bottom:10px;"> If you need any help with your account please<a href= "#"> get in touch with us</a>. </p>
            
       <p class="text-center"> <a href = "https://Landsome-test.chargebeeportal.com"  class = "btn btn-danger  borders"  d="button1" > Manage My Subscription </a></p>
       
       
       <hr style="border-top:1px solid black;">
       <h2 class="text-center"><u>How did we do? Leave a Review</u></h2>
       <form  class="form-horizontal" name="review" novalidate>

        <div class="form-group"  >
               <label class="control-label col-sm-4" >Ratings: </label>
               <div class="col-sm-6">
               <label class="radio-inline"><input type="radio" name="ratings">1 star</label>
                <label class="radio-inline"><input type="radio" name="ratings">2 star</label>
                <label class="radio-inline"><input type="radio" name="ratings">3 star</label>
                 <label class="radio-inline"><input type="radio" name="ratings">4 star</label>
                  <label class="radio-inline"><input type="radio" name="ratings" checked>5 star</label>
                </div>
           </div>
           
                      
           <div class="form-group">
            
               <label class="control-label col-sm-4 input-md" >Message</label>
                 <div class="col-sm-4">
                <textarea class="form-control" rows="6"  ng-maxlength="100" name="comment"  ng-model="comment" style="padding:10px;border:1px solid black;" required></textarea>
                 <p ng-show="review.comment.$invalid && review.comment.$dirty " style="color:maroon " required> Maximum of 100 characters!</p>
                  <p ng-show="review.comment.$error.required && review.comment.$dirty" style="color:maroon "> Please Enter Your Message </p>
               </div>
           </div>
           <div class="form-group">
         <div class="col-sm-4"></div>
	   <div class="col-sm-4">
           <button type = "submit"  ng-disabled="review.$invalid" class="btn btn-danger btn-block borders"> Submit My review </button>
	   </div>
	   </div>
       </form>
       
          
	</div>
    
 </ion-content>
</ion-view>