<div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header"> 
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" >What Kind of Opportunities are you Open to?</h4>
                </div>
                
                
                <div class="modal-body">
            
<form class = "form-horizontal"  >
               
    <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="summary">Podcasts? </label>
                <div class="col-sm-5">
                    <select class = "form-control" id="allInputFieldsStyling" ng-model = "opportunity.podcast">
                        <option value="yes">Yes</option>
                        <option value ="no">No</option>
                    </select>
                </div>

    </div>
    

    <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="summary">Writing Academic Publication</label>
                 <div class="col-sm-5">
                    <select class = "form-control" id="allInputFieldsStyling" ng-model = "opportunity.academicPublication">
                        <option value="yes">Yes</option>
                        <option value ="no">No</option>
                    </select>
                </div>
    </div>
    
      <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="summary">Writing Books/Ebooks/Articles?</label>
                 <div class="col-sm-5">
                    <select class = "form-control" id="allInputFieldsStyling" ng-model = "opportunity.booksArticles">
                        <option value="yes">Yes</option>
                        <option value ="no">No</option>
                    </select>
                </div>
    </div>
    
      <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="summary">Teaching/Teaching/E-Teaching</label>
                 <div class="col-sm-5">
                    <select class = "form-control" id="allInputFieldsStyling" ng-model = "opportunity.teaching">
                        <option value="yes">Yes</option>
                        <option value ="no">No</option>
                    </select>
                </div>
    </div>
    
     <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="summary" >Lecture? </label>
                 <div class="col-sm-5">
                    <select class = "form-control" id="allInputFieldsStyling" ng-model = "opportunity.lecture">
                       <option value="yes">Yes</option>
                        <option value ="no">No</option>
                    </select>
                </div>
    </div>
    

    <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="summary" >Create a website?</label>
                <div class="col-sm-5">
                 <select class = "form-control" id="allInputFieldsStyling" ng-model = "opportunity.website">
                        <option value="yes">Yes</option>
                        <option value ="no">No</option>
                    </select>
                </div>
    </div>
    
    
      <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="summary">Anything else?</label>
                <div class="col-sm-5">
                <textarea class="form-control"  rows="6"  id="allInputFieldsStyling" ng-model = "opportunity.anythingElse" ></textarea>
                </div>
    </div>

    
    
    <div class="form-group">
	   <div class="col-xs-12" ng-show = "sectionhasbeensaved.opportunity" >
           <button type = "button" class="btn btn-danger btn-block borders" id = "button1" ng-click = "sendOpportunity()"> Save </button>
	   </div>
          
         <div class="col-xs-12" ng-show = "!sectionhasbeensaved.opportunity"  >
           <button type = "button" class="btn btn-success btn-block borders" id = "button1" ng-click = "updateOpportunity()"> Edit </button>
	   </div> 
    </div>
    
</form>
                </div>
                
                
                
                
                
                
                
              </div>
        </div>
</div>
