<div class = "container">


<!--Link to DashboardPage -->
    <div class = "row">
             <a ui-sref = "dashboard" class = "btn btn-link pull-left"><span class ="glyphicon glyphicon-chevron-left"></span>Go to Dashboard </a>
     </div>

<!-- My Sample Work Heading -- Text Centered -->
    
<h2 class = "text-center" style= "margin-bottom:30px;"><u> Step 4: Add Sample Work </u></h2>
    


<!-- Attach a file -->
     <div class="card card-block col-xs-12 text-center" style= "margin-bottom:30px;" >
             <div class="form-group">
               <label class="control-label col-sm-3 col-sm-offset-2 input-md" for="attach">Attach a list of all your published work</label>
                <div class="col-sm-2">
                 <input type="file" class="btn btn-default btn-file" ng-model = "x.sampleFile">
                </div>
           </div>
    </div>
    
    
<!-- Paragraph to let User Know that they need to fill out at least 1 Sample Work to complete the section  -->
    <div class = "col-sm-10 col-sm-offset-1" >
        <p class = "text-center">Donec dignissim massa eros, quis porttitor libero gravida eget. Duis pellentesque tempus enim non faucibus. Suspendisse potenti. Praesent hendrerit a nulla quis fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. In mattis risus ligula, ut pellentesque lectus viverra at.  </p>
    </div>
    
    
    
<!-- 3 Cards for Sample Work. Click to Open a Form Modal --> 
<div class = "row">
 <div class="card card-block col-xs-3 text-center sampleDetailitem" id = "sample-item" >
   <h4 class="card-title">Sample Work 1 </h4>
             <a  ng-click = "showSampleWork1()"  href style = "color:black;"><p class="card-text"><span class="glyphicon glyphicon-file" style = "font-size:xx-large;" ></span></p>
              <p ng-show = "sectionhasbeensaved.samplework1" style = "color:red;"> <span class="glyphicon glyphicon-warning-sign"></span> Sample Work has NOT been added! </p>
            <p ng-show = "!sectionhasbeensaved.samplework1" style = "color:green;"><span class="glyphicon glyphicon-check"></span> Sample Work has been added!</p> 
                </a>
 </div>

    
<div class="card card-block col-xs-3 text-center sampleDetailitem" id = "sample-item" >
    <a ng-click = "showSampleWork2()"  href style = "color:black;"><h4 class="card-title">Sample Work 2 </h4>
            <p class="card-text"><span class="glyphicon glyphicon-file" style = "font-size:xx-large;" ></span></p>
            <p ng-show = "sectionhasbeensaved.samplework2" style = "color:red;"> <span class="glyphicon glyphicon-warning-sign"></span> Sample Work has NOT been added! </p>
            <p ng-show = "!sectionhasbeensaved.samplework2" style = "color:green;"><span class="glyphicon glyphicon-check"></span> Sample Work has been added!</p> 
     </a>
 </div>
    
 <div class="card card-block col-xs-3 text-center sampleDetailitem" id = "sample-item"  >
    <a ng-click = "showSampleWork3()"  href style = "color:black;"><h4 class="card-file">Sample Work 3 </h4>
            <p class="card-text"><span class="glyphicon glyphicon-file" style = "font-size:xx-large;" ></span></p>
              <p ng-show = "sectionhasbeensaved.samplework3" style = "color:red;"> <span class="glyphicon glyphicon-warning-sign"></span> Sample Work has NOT been added! </p>
            <p ng-show = "!sectionhasbeensaved.samplework3" style = "color:green;"><span class="glyphicon glyphicon-check"></span> Sample Work has been added!</p> 
     </a>
 </div>
</div>

<p ng-repeat = "x in load"><button type = "button" class = "btn btn-link" ng-click = "download()">{{x.name}}</button></p>
    

</div>