<section>        
   <div class="container">
        
        <h2 class="text-center"> Welcome to Landsome Portfolio Generator</h2>
           <p class="text-center">Please Sign Up Below to Get Started!</p>
       
        <p class="text-danger text-center" id = "advisoryText">Any field that is marked with asterisk * is a required field</p>
       
       <div class = "row">
            <div class="alert alert-danger col-xs-12 col-sm-8 col-sm-offset-2" ng-if = "signuperror">
            <strong>Sorry, this email address is already registered on Landsome Portfolio. Please use a different email address.</strong>
            </div>
       </div>
       
       <div class = "row">
        <div class = "col-xs-12 col-sm-12" >
         <form  class="form-horizontal" name= "signupPage" novalidate>
             
       
            <div class="form-group">
               <label class="control-label col-xs-4 input-md" style = "font-size:larger;">Email <span style="color:red;">&#42;</span></label>
                <div class="col-sm-5 col-md-4">
                <input type="email" ng-model = "signup.email" name = "email"  class="form-control" id="allInputFieldsStyling"  required autofocus>
                    <p ng-show="signupPage.email.$error.required && !signupPage.email.$pristine " style="color:maroon "> Please Enter your Email address </p>
                   <p ng-show="signupPage.email.$invalid && signupPage.email.$dirty " style="color:maroon "> Please Enter a valid Email address </p>
                </div>
           </div>
             
             
        
          <div class="form-group">
               <label class="control-label col-sm-4 input-md" style = "font-size:larger;">Password <span style="color:red;">&#42;</span></label>
                 <div class="col-sm-5 col-md-4">
                <input type="password" ng-model = "signup.password" name = "password" class="form-control" id="allInputFieldsStyling" ng-minlength="5" required autofocus>
                     <p ng-show = "signupPage.password.$invalid && signupPage.password.$dirty" style="color:maroon"> Your Password must contain 5 or more characters</p>
                </div>
           </div>
  
          <div class="form-group">
               <label class="control-label col-sm-4 input-md" style = "font-size:larger;" >Confirm Password <span style="color:red;">&#42;</span></label>
                 <div class="col-sm-5 col-md-4">
                <input type="password" ng-model= "signup.cpassword" name = "confirmpass" class="form-control" id="allInputFieldsStyling" required autofocus>
                <p ng-show = "signup.cpassword !== signup.password && signupPage.confirmpass.$dirty" style="color:maroon"> Password and Confirm Password do not match!</p>
                </div>
           </div>
              
         <div class="form-group">
         <div class="col-sm-4"></div>
	   <div class="col-sm-5 col-md-4">
           <button type = "submit" class="btn btn-danger btn-block borders" ng-click = "register()" ng-disabled = "signupPage.$invalid || signup.cpassword !== signup.password"> Sign Up </button>
	   </div>
	   </div>
	   <p class="text-center"><a ui-sref="login">Or Log into the Portal</a></p>
  
       </form>
       
       
       
       </div>
      
       
       
       
       
      </div>    
	</div>
    
    
</section>
