<section>
    <div class="container dialog-contents">
       <p style = "font-size:30px;margin-bottom:25px;"><button type = "button" style = "background-color:white;border:1px solid white;"><span class="glyphicon glyphicon-info-sign pull-left" onclick=""></span></button><span class="pull-right" style = "font-size:14px;">Step 3 of 6</span></p>
        
        <form class="form-horizontal">
            
            
     <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="rename">Portfolio Page Heading</label>
                <div class="col-sm-5">
                <input type="text" class="form-control"  ng-model = "summary.portfolioHeading" placeholder="Amanda Legum" id="allInputFieldsStyling">
                </div>
        </div>   
        
        
        <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="rename">Portfolio Page Sub-Heading</label>
                <div class="col-sm-5">
                <input type="text" class="form-control"  ng-model = "summary.portfolioSubHeading"  placeholder="PHD Econometrics, University of Horowitz" id="allInputFieldsStyling">
                </div>
        </div> 
           
       <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="rename">Heading</label>
                <div class="col-sm-5">
                <input type="text" class="form-control" ng-model = "summary.heading" placeholder="Summary" id="allInputFieldsStyling">
                </div>
        </div>
            
         <div class="form-group"  >
               <label class="control-label col-sm-4" for="summary">Summary Section</label>
                <div class="col-sm-5">
                <textarea class="form-control" rows="11" ng-model = "summary.summary" id="allInputFieldsStyling" placeholder="Amanda is originally from Malaysia where she graduated with a firs-class degree in Economics from the University of Hogwartz. She Obtained a distinction in a MSC development Economics from the University of Horowitz in 2013, and began her PhD in Econometrics the following year. Samantha doctoral project is supervised by professor Nunzio Sitorious, and her research is currently self-funded"></textarea>
                </div>
        </div>
           
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="name_button">Name of button </label>
                <div class="col-sm-5">
                <input type="text" class="form-control" ng-model ="summary.button" style="padding:10px; border:1px solid black;" placeholder="View my CV/Resume">
                </div>
           </div>  
          
     
          
      <div class = "form-group" ng-init = "hasCustomerEnteredSummaryFunc()" >
	       <div class="col-xs-12">
	         <button type = "submit"  class="btn btn-danger btn-block borders"  ng-show = "!hasCustomerEnteredSummary" ng-click = "sendSummary()" id="button1">Save</button>
	       </div>
          
          <div class="col-xs-12">
            <button type = "submit" class="btn btn-success btn-block borders"  id = "button1" ng-show ="hasCustomerEnteredSummary" ng-click = "updateSummary()"> Edit </button>
	    </div>

	   </div>
        </form>
    </div>
</section>