<section>
	
	<div class="container" ng-init = "hasCustomerEnteredPersonalFunc()">

	           <h2 class = "text-center"><u>My Personal Details</u></h2>
       
       <p class="text-danger text-center" id = "advisoryText">Any field that is marked with asterisk * is a required field</p>
   
        <!-- 
            Clicking the submit button will result in the Customer's details being processed under the controller
             step2AddPersonalDetailsCtrl in the controller.js file. Once in the controller.js file, their details will
             then be carried over via the API and straight into the database. The moment this page, step2AddPersonalDetails is served
             up, the route.js will make the step2AddPersonalDetailsCtrl available for use.
        -->
      
        
    
    <form  name = "step1PersonalDetails " class="form-horizontal" novalidate>
           <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" >First Name <span id="asterisks">&#42;</span></label>
                <div class="col-sm-4">
                <input type="text" class="form-control"  name="firstName" ng-model = "customerDetails.firstName"   id="allInputFieldsStyling"  required> 
                    <p ng-show="step1PersonalDetails.firstName.$error.required && step1PersonalDetails.firstName.$dirty " style="color:maroon"> Please Enter your first name </p>
                </div>
                
           </div>
        
           <div class="form-group">
               <label class="control-label col-sm-4 input-md">Last Name <span id="asterisks">&#42;</span></label>
                <div class="col-sm-4">
                <input type="text" class="form-control" name="lastName" ng-model = "customerDetails.lastName" id="allInputFieldsStyling"  required>
                <p ng-show="step1PersonalDetails.lastName.$error.required && step1PersonalDetails.lastName.$dirty " style="color:maroon "> Please Enter your last name </p>
                </div>
           </div>
        
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" >Email Address </label>
                <div class="col-sm-4" ng-controller = "userCtrl">
                <input type="email" class="form-control" name="email" ng-model = "currentUser.email" id="allInputFieldsStyling" disabled>
                </div> 
           </div>

        
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" >LinkedIn Link</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="customerDetails.linkedin" id="allInputFieldsStyling">
                </div>
           </div>
        
          
      
     <div class="form-group">
	   <div class="col-xs-12" ng-show = "!hasCustomerEnteredPersonal" >
           <button type = "submit" class="btn btn-danger btn-block borders" id = "button1"  ng-disabled="step1PersonalDetails.$invalid"  ng-click = "sendDetails()"> Save </button>
	   </div>
          
        
         <div class = "col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" ng-show = "hasCustomerEnteredPersonal">
          <div class="col-xs-6"   >
           <a ui-sref = "myaccount" class="btn btn-default btn-block borders" > Cancel </a>
	   </div> 
         <div class="col-xs-6" >
           <button type = "submit" class="btn btn-success btn-block borders"  ng-disabled="step1PersonalDetails.$invalid"  ng-click = "updateDetails()"> Edit </button>
	   </div> 
         </div>
        
    </div>
            
      
            
            
            
        </form>
            
	
        </div>

</section>