<section>
	
	<div class="container" ng-init = "hasCustomerEnteredPersonalFunc()" ng-controller = "userCtrl">

	
         <!-- The Personal Detail form -->
        <div class = "col-sm-8 pull-left col-sm-offset-2">
            <div class="panel panel-default"  style = "margin-top:30px;">
                <div class="panel-heading">
                   <h4 class = "text-center"><u>My Personal Details</u></h4>
                </div>
    
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <form  name = "step1PersonalDetails " class="form-horizontal" novalidate>
               <h5 class="text-danger text-center" id = "advisoryText" style = "margin-top:10px;">Any field that is marked with asterisk * is a required field</h5>
               
        <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" >Customer ID </label>
                <div class="col-sm-4">
                <input type="text" class="form-control"  name="customerID" ng-model = "currentUser.id"   id="allInputFieldsStyling"  disabled> 
                </div>
                
        </div>                   
                                   
        <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" >First Name <span id="asterisks">&#42;</span></label>
                <div class="col-sm-4">
                <input type="text" class="form-control"  name="firstName" ng-model = "customerDetails.firstName"   id="allInputFieldsStyling"  required> 
                    <p ng-show="step1PersonalDetails.firstName.$error.required && step1PersonalDetails.firstName.$dirty " style="color:maroon"> Please Enter your first name </p>
                </div>
                
           </div>
        
           <div class="form-group">
               <label class="control-label col-sm-4 input-md">Last Name <span id="asterisks">&#42;</span></label>
                <div class="col-sm-4">
                <input type="text" class="form-control" name="lastName" ng-model = "customerDetails.lastName" id="allInputFieldsStyling"  required>
                <p ng-show="step1PersonalDetails.lastName.$error.required && step1PersonalDetails.lastName.$dirty " style="color:maroon "> Please Enter your last name </p>
                </div>
           </div>
        
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" >Email Address </label>
                <div class="col-sm-4">
                <input type="email" class="form-control" name="email" ng-model = "currentUser.email" id="allInputFieldsStyling" disabled>
                </div> 
           </div>

        
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" >LinkedIn Link</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="customerDetails.linkedin" id="allInputFieldsStyling">
                </div>
           </div>
    
      
     <div class="form-group">
	   <div class="col-xs-12" ng-show = "!hasCustomerEnteredPersonal" >
           <button type = "submit" class="btn btn-danger btn-block borders" id = "button1"  ng-disabled="step1PersonalDetails.$invalid"  ng-click = "sendDetails()"> Save </button>
	   </div>
          
        
         <div class = "col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" ng-show = "hasCustomerEnteredPersonal">
          <div class="col-xs-6"   >
           <a ui-sref = "myaccount" class="btn btn-default btn-block borders" > Cancel </a>
	   </div> 
         <div class="col-xs-6" >
           <button type = "submit" class="btn btn-success btn-block borders"  ng-disabled="step1PersonalDetails.$invalid"  ng-click = "updateDetails()"> Edit </button>
	   </div> 
         </div>
        
    </div>

            
        </form>
            
                       
                        </div>
        
	
        </div>
    
    
    </div>
    
                </div>
                </div>
    </div>

</section>