<div class="container">
      <h1 class="text-center">Vacancies and Partnership</h1>
      <hr id="divider">
<h3 class="text-center">Partnership </h3>
<hr id="divider">



<div class="row">

<div class="col-md-6" style="margin-bottom:5px;" id="visible" >
<h4 >Landsome Consultancy</h4>
<img src="http://placehold.it/200x150" class="img-responsive pull-left  " style="margin-right:5px;" alt="">
<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum <br><a href="#">Visit Landsome's website</a></p>
<br>
</div>


<div class="col-md-6 " >

<h4>Company 2</h4>
<img src="http://placehold.it/200x150" class="img-responsive pull-left " style="margin-right:5px;" alt="">
<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum<br><a href="#">Visit company 2 website</a></p>
</div>
</div>

<div class="row">

<div class="col-md-6" style="margin-bottom:5px;" id="visible">
<h4 >Company 3 </h4>
<img src="http://placehold.it/200x150" class="img-responsive pull-left  " style="margin-right:5px;" alt="">
<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum <br><a href="#">Visit company 3 website</a></p>
<br>
</div>


<div class="col-md-6 " >
<h4>Company 4</h4>
<img src="http://placehold.it/200x150" class="img-responsive pull-left " style="margin-right:5px;" alt="">
<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum<br><a href="#">Visit company 4 website</a></p>
</div>
</div>

 <hr id="divider">
<h3 class="text-center">Vacancies </h3>
<hr id="divider">



<div class="row">

<div class="col-md-6" style="margin-bottom:5px;" id="visible" >
<h4 >Vacancy 1</h4>
<img src="http://placehold.it/200x150" class="img-responsive pull-left  " style="margin-right:5px;" alt="">
<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum <br><a href="#">Apply for vacancy 1</a></p>
<br>
</div>


<div class="col-md-6 " >

<h4>Vacancy 2</h4>
<img src="http://placehold.it/200x150" class="img-responsive pull-left " style="margin-right:5px;" alt="">
<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum<br><a href="#">Apply for vacancy 2</a></p>
</div>
</div>

 <hr id="divider">
<h3 class="text-center">Is there any way you can help? </h3>
<hr id="divider">
<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quas illum iure in neque unde commodi, accusantium quam delectus voluptatibus officiis distinctio pariatur voluptas numquam voluptate iusto eveniet aliquam cupiditate?</p>

 <form  class="form-horizontal" name="review" novalidate>
  <div class="form-group"  >
               <label class="control-label col-md-4 input-md" >Full Name</label>
                <div class="col-md-4">
                <input type="text" class="form-control"  name="firstName" id="allInputFieldsStyling" required>
                </div>
                
           </div>
<div class="form-group">
               <label class="control-label col-md-4 input-md" >Email Address </label>
                <div class="col-md-4">
                <input type="email" class="form-control" name="email" id="allInputFieldsStyling" required>
                </div>
           </div>
<div class="form-group"  >
               <label class="control-label col-md-4 input-md" >Subject Line</label>
                <div class="col-md-4">
                <input type="text" class="form-control"  name="firstName" id="allInputFieldsStyling" required>
                </div>
                
           </div>
<div class="form-group">
               <label class="control-label col-md-4 input-md" >Message</label>
                 <div class="col-md-4">
                <textarea class="form-control" rows="6"   name="comment"  style="padding:10px;border:1px solid black;" required></textarea>
               </div>
           </div>

           <div class="form-group">
         <div class="col-md-4"></div>
	   <div class="col-md-4">
           <button type = "submit"  class="btn btn-danger btn-block borders"> Send Message </button>
	   </div>
	   </div>
       </form>

</div>