<script>

ga('set', 'page', '/VacanciesPartnership');
ga('send', 'pageview');

</script>



<div class="container">
      <h1 class="text-center">Vacancies and Partnership</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum</p> 
    
   
<h3><u>Our Partners</u></h3>

<div class="row">
<div class="col-sm-6" style="margin-bottom:5px;" >
<div class = "thumbnail">
<h4 class = "text-center" >Landsome Technology</h4>
<img src="http://placehold.it/500x150" class="img-responsive" alt="">
<div class = "caption">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum</p>     
</div>
</div>
</div>

<div class="col-sm-6" style="margin-bottom:5px;" >
<div class = "thumbnail">
<h4 class = "text-center" >Company 2</h4>
<img src="http://placehold.it/500x150" class="img-responsive" alt="">
<div class = "caption">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum</p>     
</div>
</div>
</div>
</div>




<h3><u>Vacancies</u></h3>

<div class="row">

<div class="col-sm-6" style="margin-bottom:5px;" >
<div class = "thumbnail">
<h4 class = "text-center" >Vacancy 1</h4>
<img src="http://placehold.it/500x150" class="img-responsive" alt="">
<div class = "caption">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum</p>     
</div>
</div>
</div>


<div class="col-sm-6" style="margin-bottom:5px;" >
<div class = "thumbnail">
<h4 class = "text-center" >Vacancy 2</h4>
<img src="http://placehold.it/500x150" class="img-responsive" alt="">
<div class = "caption">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa minus inventore, atque adipisci unde. Ad tempore similique minus necessitatibus. Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum.Facere obcaecati provident ipsa quasi blanditiis maxime temporibus, consequatur nostrum</p>     
</div>
</div>
</div>
</div>

 

 

</div>